@model Gestor.Models.AgregarAlternativaDto

@{
    ViewData["Title"] = "EditarDetalleAlternativa";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>EditarDetalleAlternativa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Enlaces a los archivos de hojas de estilo personalizados -->
    <link rel="stylesheet" href="~/css/_Layout.css" asp-append-version="true" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <form asp-area="" asp-controller="DetalleAlternativa" asp-action="EditarDetalleAlternativa" enctype="multipart/form-data" method="post">

        <input asp-for="FacturaFoto" type="hidden" />
        <input asp-for="Proforma" type="hidden" />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">

            <input asp-for="idDetalleAlternativa" class="form-control" type="hidden" />
            <span asp-validation-for="idDetalleAlternativa" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="idBeneficiario" class="control-label">ids de benes</label>
            <input asp-for="idBeneficiario" class="form-control" type="hidden" />
            <span asp-validation-for="idBeneficiario" class="text-danger"></span>
        </div>

        <div class="card mb-4" style="background-color:white">
            <div class="card-body">
                <h4 style="text-align:center;">Editar detalle de alternativa</h4>
                <hr />

                <div class="row">
                    <div class="col-lg-6 mb-3">
                        <label class="form-label">Alternativa</label>
                        <select asp-for="NombreAlternativa" class="form-select">
                            <option value="" data-select2-id="select2-data-3-ibs9">Seleccione una alternativa</option>
                            <option value="Alimentación">Alimentación</option>
                            <option value="Artículos de uso personal e higiene">Artículos de uso personal e higiene</option>
                            <option value="Medicamentos e implementos de salud">Medicamentos e implementos de salud </option>
                            <option value="Atención social en salud integral">Atención social en salud integral</option>
                            <option value=" Productos de apoyo o ayudas técnicas">Productos de apoyo o ayudas técnicas</option>
                            <option value="Equipamiento de casa"> Equipamiento de casa</option>
                            <option value="Alquiler de vivienda, servicios básicos, municipales y trámites migratorios"> Alquiler de vivienda, servicios básicos, municipales y trámites migratorios</option>
                            <option value="Familias Solidarias">Familias Solidarias</option>
                            <option value="Servicios Básicos de atención en el domicilio y Servicios para la atención y cuidado especializado">Servicios Básicos de atención en el domicilio y Servicios para la atención y cuidado especializado</option>
                            <option value="Hogares comunitarios">Hogares comunitarios</option>
                            <option value="Transporte y combustible">Transporte y combustible</option>
                            <option value="Promoción y prevención de la salud">Promoción y prevención de la salud </option>
                            <option value="Institucionalización"> Institucionalización</option>
                            <option value="Mejoras habitacionales">Mejoras habitacionales</option>
                        </select><span class="select2 select2-container select2-container--bootstrap-5" dir="ltr" data-select2-id="select2-data-2-46y9" style="width: 391px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-vp8l-container" aria-controls="select2-vp8l-container"><span class="select2-selection__rendered" id="select2-vp8l-container" role="textbox" aria-readonly="true" title="Select country"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                        <span asp-validation-for="NombreAlternativa" class="text-danger"></span>
                    </div>


                    <div class="col-lg-6 mb-3">
                        <label class="form-label">Articulo</label>
                        <input asp-for="Articulo" class="form-control" />
                        <span asp-validation-for="Articulo" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 mb-3">
                        <label class="form-label">Proveedor</label>
                        <input asp-for="Proveedor" class="form-control" />
                        <span asp-validation-for="Proveedor" class="text-danger"></span>
                    </div>

                    <div class="col-lg-3 mb-3">
                        <label class="form-label">Cantidad</label>
                        <input asp-for="Cantidad" class="form-control" />
                        <span asp-validation-for="Cantidad" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 mb-3">
                        <label class="form-label">Numero de factura</label>
                        <input asp-for="NumeroFactura" class="form-control" />
                        <span asp-validation-for="NumeroFactura" class="text-danger"></span>
                    </div>

                    <div class="col-lg-3 mb-3">
                        <label class="form-label">Monto</label>
                        <input asp-for="Monto" class="form-control" value="@Model.Monto.ToString("F0")" />
                        <span asp-validation-for="Monto" class="text-danger"></span>
                    </div>



                    <div class="col-lg-3 mb-3">
                        <label class="form-label">Fecha</label>
                        <input asp-for="Fecha" class="form-control" />
                        <span asp-validation-for="Fecha" class="text-danger"></span>
                    </div>
                </div>

                <td>
                    @if (@Model.FotoFacturaActual != null && Model.FotoFacturaActual.Length > 0)
                    {
                        <!-- Mostrar imagen de factura si está disponible -->
                        @* Convierte la imagen de factura a Base64 y genera una URL de datos *@
                        string imagenBase64 = Convert.ToBase64String(Model.FotoFacturaActual);
                        string imagenDataUrl = $"data:image/jpeg;base64,{imagenBase64}";
                        <img src="@imagenDataUrl" alt="Factura" width="120" height="180" />
                    }
                    else
                    {
                        <!-- Mensaje si no hay foto de factura -->
                        <p>No se encontró una foto</p>
                    }
                </td>
                <td>
                    @if (@Model.ProformaActual != null && Model.ProformaActual.Length > 0)
                    {
                        <!-- Mostrar imagen de proforma si está disponible -->
                        @* Convierte la imagen de proforma a Base64 y genera una URL de datos *@
                        string imagenBase64 = Convert.ToBase64String(Model.ProformaActual);
                        string imagenDataUrl = $"data:image/jpeg;base64,{imagenBase64}";
                        <img src="@imagenDataUrl" alt="Proforma" width="120" height="180" />
                    }
                    else
                    {
                        <!-- Mensaje si no hay foto de proforma -->
                        <p>No se encontró una foto</p>
                    }
                </td>



                <div class="row">
                    <div class="col-lg-4 mb-3">
                        <div>
                            <label asp-for="FacturaFoto">Foto de factura</label>
                            <input asp-for="FacturaFoto" type="file" name="FacturaFoto" class="form-control" />
                            
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 mb-3">
                        <div>
                            <label asp-for="Proforma">Foto de proforma</label>
                            <input asp-for="Proforma" type="file" name="Proforma" class="form-control" />
                            
                        </div>
                    </div>
                </div>



                <div>
                    <input type="submit" value="Editar" class="btn btn-primary btn-sm" />
                </div>

            </div>
        </div>

    </form>

</body>
</html>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
