@model IEnumerable<Gestor.Models.DetalleAlternativa>

@{
    ViewData["Title"] = "ObtenerDetallePorIdBeneficiario";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>ObtenerDetallePorIdBeneficiario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/_Layout.css" asp-append-version="true" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />

</head>
<body>

            <div class="card mb-4">
                <div class="card-body">

                    <div class="form-group pull-right">
                        <input type="text" class="search form-control" placeholder="Buscar">
                    </div>
                    <hr />
                    <span class="counter pull-right"></span>
                    <table class="table table-hover table-bordered results">

                        <thead>
                            <tr>
                                <th scope="col">Fecha</th>
                                <th scope="col">Alternativa</th>
                                <th scope="col">Artículo</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Proveedor</th>
                                <th scope="col">Monto</th>
                                <th scope="col">Número de factura</th>
                                <th scope="col">Foto de factura </th>
                                <th scope="col">Foto de proforma </th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Fecha)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NombreAlternativa)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Articulo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cantidad)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Proveedor)
                                    </td>
                                    <td>
                                ₡@Html.DisplayFor(modelItem => item.Monto)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NumeroFactura)
                                    </td>
                                    <td>
                                        @if (item != null && item.FacturaFoto != null && item.FacturaFoto.Length > 0)
                                        {
                                        
                                            string imagenBase64 = Convert.ToBase64String(item.FacturaFoto);
                                            string imagenDataUrl = $"data:image/jpeg;base64,{imagenBase64}";

                                            
                                            <img src="@imagenDataUrl" alt="Factura" width="200" height="150" />
                                        }
                                        else
                                        {
                                            <p>No se encontró una foto</p>
                                        }
                                    </td>
                                    <td>
                                        @if (item != null && item.Proforma != null && item.Proforma.Length > 0)
                                        {
                                      
                                            string imagenBase64 = Convert.ToBase64String(item.Proforma);
                                            string imagenDataUrl = $"data:image/jpeg;base64,{imagenBase64}";

                                         
                                            <img src="@imagenDataUrl" alt="Factura" width="200" height="150" />
                                        }
                                        else
                                        {
                                            <p>No se encontró una foto</p>
                                        }
                                    </td>
                                </tr>
                            }
                        <tbody>
                    </table>
                </div>


            </div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="~/js/ObtenerDetallePorIdBeneficiario.js"></script>
</html>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
